.box {
  height: 100px;
  min-width: 100px;
  padding: 0 !important;
}

.box:hover {
  font-size: 20px;
  font-weight: bold;
  transition-duration: 0.1s;
}

.chatBox {
  height: 320px;
  max-height: 360px;
  overflow-y: auto;
  background: whitesmoke;
  scroll-behavior: smooth;
}

.eventBtn {
  max-width: 160px;
}
